#p4 + ul, #p3 + ul
    display: inline-block
    position: relative
    padding: 20px

    &.active
        background-image: linear-gradient(180deg,transparent 0%, #5972be 75%)
        border-radius: 20px
    
    li
        display: inline-block
        list-style-type: none
        margin: 3px 5px

        @media only screen and(max-width: 480px) 
            font-size: 80%

.copy
    cursor: pointer
    user-select: none

    &.active
        text-decoration: underline
