html, body 
	height: 100%
	min-height: 100vh
	font-family: $ffText
	scroll-behavior: smooth

body
	background-color: $white
	@extend %scroll
	padding-right: 0 !important

*
	//user-select: none
	&::selection
		background-color: $white


a
	text-decoration: none
	color: inherit
	&:hover, &:focus
		text-decoration: none
		color: $black

img
    user-select: none

button, a, input 
	&:hover, &:active, &:focus
		appearance: none
		outline: none
		box-shadow: none 

.page
	&__body
		display: flex
		flex-direction: column
	&__wrapper
		flex: 1 0 auto