<!DOCTYPE html>
{{- partial "head.html" . -}}

<body lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" class="page__body">


  <main class="page__wrapper">


    {{- partial "preloader.html" . -}}
    <div class="header-span"></div>


    {{- block "main" . }}{{- end }}

  </main>


  {{- partial "_btn-top.html" . -}}
  {{- partial "footer.html" . -}}

  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
  <script defer src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>


<!-- <script>
// Access the environment variables
const apiKey = "{{ .Site.Params.FIREBASE_API_KEY }}";
const authDomain = "{{ .Site.Params.FIREBASE_AUTH_DOMAIN }}";
const databaseURL = "{{ .Site.Params.FIREBASE_DATABASE_URL }}";
const projectId = "{{ .Site.Params.FIREBASE_PROJECT_ID }}";
const storageBucket = "{{ .Site.Params.FIREBASE_STORAGE_BUCKET }}";
const messagingSenderId = "{{ .Site.Params.FIREBASE_MESSAGING_SENDER_ID }}";
const appId = "{{ .Site.Params.FIREBASE_APP_ID }}";
// Use the variables in your code
console.log('apiKey', apiKey);
</script> -->


<script>
  const apiKeyN = "{{ .Env.FIREBASE_API_KEY }}";
  // Use the 'apiKey' variable in your JavaScript code
  console.log('apiKeyN', apiKeyN);
</script>

  {{ range .Site.Params.plugins.js }}
  <script src="{{ .link | relURL }}"></script>
  {{ end }}

  {{ $script := resources.Get "js/script.js" | minify }}
  <script defer src="{{ $script.Permalink | relURL }}?v={{ now.Format " 01-02-2006-14-52-26"}}"></script>

  {{- partial "_svg.html" . -}}




</body>
</html>